/*
    font-family: 'Cabin', sans-serif;

    font-family: 'Lobster', cursive;
*/
html {
    scroll-behavior: smooth;
}

body{
    color: #FFFFFF;
    background-color: #000000;
}

#img-logo{
    height: 30px;
}

.navbar-inner{
    background: transparent;
}


.cabin-regular{
    font-family: 'cabin';
    font-weight: 400;
}

.cabin-bold{
    font-family: 'cabin';
    font-weight: 700;
}

.lobster-regular{
    font-family: 'lobster';
    font-weight: 400;
}

.centrado{
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    justify-content: center;
}

.texto-centrado{
    text-align: center;
}

.iconos-quienessomos{
    font-size: 30px;
}

div.card{
    background-color: #000000;
}

.img-destacados{
    height: 190px;
    width: auto;
}

#destacados .card .col-12{
    max-width: 50%;
}

.icono-footer{
    height: 40px;
}

.color-secundario{
    background-color: #2DE5E2;
}

#contacto button{
    border-color: #DDDDDD;
    padding-right: 3rem;
    padding-left: 3rem;
    color: #FFFFFF;
}

.centrado-h{
    display: flex;
    justify-content: center;
}

.tooltip .tooltip-inner {
    background-color: #373A3C;
}
  
.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #373A3C;
}

.bs-tooltip-end .tooltip-arrow::before {
    border-top-color: #373A3C;
}

.btn-outline-dark:hover{
    background-color: #373A3C;
}

.esconder-esto{
    display: none;
}

.links-footer{
    color: #FFFFFF !important;
}